<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>
        {% block title %} Job portal {% endblock %}
    </title>

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Load custom css -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='assets/css/styles.css') }}">
    {% endblock %}

</head>
<body>
    <!-- Include the header -->
    {% include 'header.html' %}

    <main class="pt-5">
      {% block content %}<!-- Page-specific content will go here -->{% endblock %}
    </main>

    {% block scripts %}
    <!-- Load bootstrap js -->
    {{ bootstrap.load_js() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <!-- Load custom js -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% endblock %}

    <div class="container">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>

</body>
</html>