{% block content %}
<!-- Navigation Bar -->
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light mb-3 py-4 border-bottom shadow p-4">
        <a class="navbar-brand ml-5" href="/">Job Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/jobopening">Job opening <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:john.doe@gmail.com?subject=Contact%20Request&body=Hi%20John%2C%0D%0AI%20would%20like%20to%20connect.%0D%0A%0D%0AName%3A%20%3CYour%20Name%3E%0D%0AMessage%3A%20%3CYour%20message%20here%3E%0D%0A">
                    Contact us
                </a>
              </li>
            </ul>
        </div>
    </nav>
</header>


{% endblock %}